* {
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family:'PlayfairDisplay-Black';
    src: url('../assets/PlayfairDisplay-Black.ttf')
}


@font-face {
    font-family:'Raleway-Bold';
    src: url('../assets/Raleway-Bold.ttf')
}

@font-face {
    font-family:'Raleway-Medium';
    src: url('../assets/Raleway-Medium.ttf')
}

body {
    background-image: url('../images/karel.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    width:35%;
    margin-left: .5em;
    margin-top: .5em;
}

#home {
    background-color: rgba(248, 240, 219, 0.75);
    padding-bottom: 4vw;
}


.indexlogo {
    font-family: 'PlayfairDisplay-Black', "serif";
    font-size: 18vw;
    color: olive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.indexlogo:hover {
    animation-name: woo;
    animation-duration: 3s;
}

@keyframes woo {
  10% {color: olive;}
  20% {color: darkolivegreen;}
  30% {color: forestgreen;}
  40% {color: darkseagreen;}
  50% {color: darkkhaki;}
  60% {color: green;}
  70% {color: lightgreen;}
  80% {color: forestgreen;}
  90% {color: darkolivegreen;}
  100% {color: olive;}
    
    
}

.subhead {
    font-family:'Raleway-Bold', "sans serif";
    color: black;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    padding: 2vw;
}


.nav {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Raleway-Medium';
    font-size: 1.25vw;
    background-color: rgba(128, 128, 0, .5);
    margin-bottom: 8vw;
}

.button {
    color: black;
    padding: 1vw;
    display: inline-block;
}

.button:hover {
    background-color: black;
    color: white;
}


.title {
    font-family:'Raleway-Medium', "sans serif";
    color: black;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
    margin-top: 1em;
}

.screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: auto;
    width:70%;
    border:25px solid olive;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 240, 219, 0.75);
    padding: 10px 20px;
    margin-bottom: 1em;

}

p {
    font-family:'Raleway-Medium', "sans serif";
    color: black;
    width: 100%;
    text-align: justify;
    line-height: 24px;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Raleway-Medium';
    font-size: 1.25vw;
}
