* {
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family:'PlayfairDisplay-Black';
    src: url('../assets/PlayfairDisplay-Black.ttf')
}


@font-face {
    font-family:'Raleway-Bold';
    src: url('../assets/Raleway-Bold.ttf')
}

@font-face {
    font-family:'Raleway-Medium';
    src: url('../assets/Raleway-Medium.ttf')
}

body {
    background-image: url('../images/karel.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    width:35%;
    margin-left: .5em;
    margin-top: .5em;
}

#home {
    background-color: rgba(248, 240, 219, 0.75);
    padding-bottom: 4vw;
}


.indexlogo {
    font-family: 'PlayfairDisplay-Black', "serif";
    font-size: 18vw;
    color: olive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.indexlogo:hover {
    animation-name: woo;
    animation-duration: 3s;
}

@keyframes woo {
  10% {color: olive;}
  20% {color: darkolivegreen;}
  30% {color: forestgreen;}
  40% {color: darkseagreen;}
  50% {color: darkkhaki;}
  60% {color: green;}
  70% {color: lightgreen;}
  80% {color: forestgreen;}
  90% {color: darkolivegreen;}
  100% {color: olive;}
    
    
}

.subhead {
    font-family:'Raleway-Bold', "sans serif";
    color: black;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    padding: 2vw;
}

.subhead2 {
    font-family:'Raleway-Medium', "sans serif";
    color: black;
    font-size: 2vw;
    text-align: center;
    margin: auto;
}

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 0, .5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 10vw;
}

.dropbtn {
  font-family:'Raleway-Medium';
  width: 20em;
  font-size: 20px;
  background-color: rgba(128, 128, 0, 0);
  padding: 16px;
  border: none;
  cursor: pointer;
  flex: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(128, 128, 0, .5);
  z-index: 1;
  width: 25em;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family:'Raleway-Medium';
  font-size: 1.25vw;
  text-align: center;
}

.dropdown-content a:hover {background-color: olive}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: olive;
}



.title {
    font-family:'Raleway-Medium', "sans serif";
    color: black;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
    margin-top: 1em;
}

.screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: auto;
    width:70%;
    border:25px solid olive;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 240, 219, 0.75);
    padding: 10px 20px;
    margin-bottom: 10em;

}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
}

.work {
    display: block;
    margin-bottom: 2em;
    height: auto;
    width:40%;
    border:25px solid rgba(20, 20, 20, 75);
    flex: none;
}

.cont {
    width: 40%;
    background-color: rgba(248, 240, 219, 0.75);
    padding: 10px 20px;
    margin-bottom: 10em;
    padding: 37px;
    flex: none;
    align-self: flex-start;
}

p {
    font-family:'Raleway-Medium', "sans serif";
    color: black;
    width: 100%;
    text-align: justify;
    line-height: 24px;
    font-size: 20px;
    line-height: 1.4;
}


.return {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Raleway-Medium';
    font-size: 1.25vw;
    color: whitesmoke;
    text-decoration: none;
}

.return:hover {
    color: olive;
    text-decoration: none;
}

footer {
    background-color: rgb(20,20,20);
    
}

.socials {
    display: flex;
    justify-content: center;
}

i{
    padding: 1em;
    color: whitesmoke;
    
    
}
