@font-face {
    font-family:'Playfair';
    src: url('assets/PlayfairDisplay-Black.ttf')
}


@font-face {
    font-family:'Raleway', bold;
    src: url('assets/Raleway-Bold.ttf')
}

@font-face {
    font-family:'Raleway', medium;
    src: url('assets/Raleway-Medium.ttf')
}


.head {
    font-family: 'Playfair';
    font-size: 18vw;
    color: orange;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-image: url('images/bg5.jpg');
    background-size: cover;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    height: auto;
    width:70%;
    border:25px solid orange;
}


a {
    font-family:'Raleway', bold;
    font-size: 1vw;
    color: ghostwhite;
    
}


.subhead {
    font-family:'Raleway', bold;
    color: ghostwhite;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .3em;

}


.container {
    width: 100%;
    text-align: center;
    margin-bottom: 5em

}


.title {
    font-family:'Raleway', bold;
    color: ghostwhite;
    font-size: 2vw;
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
    margin-top: 4em;
}



p {
    font-family:'Raleway', medium;
    text-align: justify;
    width: 70%;
    margin: auto;
    padding: .5em;
    
    
}
