@font-face {
    font-family:'FreeFat';
    src: url('assets/FREEFATFONT-Regular.otf')
}


@font-face {
    font-family:'Comfortaa';
    src: url('assets/Comfortaa-Regular.ttf');
}


h {
    font-family: 'FreeFat';
    font-size: 18vw;
    color: aquamarine;
    text-align: center;
    text-shadow: 5px 5px #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-image: url('images/bg3.jpg');
    background-size: cover;
    
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 70%;
}


a {
    font-family: 'Comfortaa';
    font-size: 1.4vw;
    color: ghostwhite;
    
}


.subhead {
    font-family: 'Comfortaa';
    color: ghostwhite;
    font-size: 4vw;
    text-align: center;
    text-shadow: 1px 1px #000000;
    margin: auto;
    margin-top: .5em;

}


.container {
    width: 100%;
    text-align: center;
    margin-bottom: 5em

}


h2 {
    font-family: 'Comfortaa';
    font-size: 3vw;
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
}



p {
    font-family: 'Helvetica-light';
    text-align: justify;
    width: 70%;
    margin: auto;
    padding: .5em;
    
    
}
