@font-face {
    font-family:'PlayfairDisplay-Black';
    src: url('assets/PlayfairDisplay-Black.ttf')
}


@font-face {
    font-family:'Raleway-Bold';
    src: url('assets/Raleway-Bold.ttf')
}

@font-face {
    font-family:'Raleway-Medium';
    src: url('assets/Raleway-Medium.ttf')
}


.head {
    font-family: 'PlayfairDisplay-Black';
    font-size: 18vw;
    color: olive;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
}

.logo {
    font-family: 'PlayfairDisplay-Black';
    font-size: 5vw;
    color: olive;
    display: block;
    margin-left: .5em;
    margin-top: .5em;
    text-decoration: underline overline;
}



body {
    background-image: url('images/bg4.jpg');
    background-size: cover;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: auto;
    width:65%;
    border:25px solid olive;
}


.subhead {
    font-family:'Raleway-Bold';
    color: black;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .3em;

}


.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: .5em;
    /*background-color: whitesmoke;
    border: 3px solid olive;
    outline: 8px solid whitesmoke;*/

}

.nav {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20em;
    font-family:'Raleway-Medium';
    font-size: 1vw;
}

a {
    color: black;
}

.title {
    font-family:'Raleway-Medium';
    color: black;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
    margin-top: 1em;
}



p {
    font-family:'Raleway-Medium';
    width: 100%;
    text-align: justify;

}
